#aboutHeading {
    position: absolute;
    top: 60;
    transform: translateX(222%);
    text-align: center;

    @media @large-screen{
        left: 200;
        top: 80;
    }

    @media @phone{
        right: 640;
        top: 30;
        width: 70%;
    }

    @media @medium-phone{
        right: 575;
    }

    @media @small-phone{
        right: 495;
    }
}

.aboutTop {
    .sharedContentStyle();
    height: 80%;

    @media @phone{
        display: flex;
        flex-direction: column;
        height: 235vh;
    }

    .aboutCardTop {
        .sharedCardStyle();
        margin-top: 5%;
    }
}

.aboutMid{
    .sharedContentStyle();
    height: 50%;

    @media @phone{
        display: flex;
        flex-direction: column;
        height: 235vh;
    }

    .aboutCardMid {
        .sharedCardStyle();
    }
}

.aboutBtm{
    .sharedContentStyle();
    height: 70%;

    @media @phone{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .aboutCardBtm {
        .sharedCardStyle();
    }
}

.aboutImg{
    .sharedImgStyle();
}

.aboutCardTop:hover{
    color: white;
    background-color: @hover-card;
    opacity: 0.7;
}

.aboutCardMid:hover{
    color: white;
    background-color: @hover-card;
    opacity: 0.7;
}

.aboutCardBtm:hover{
    color: white;
    background-color: @hover-card;
    opacity: 0.7;
}