.topContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 60%;

    @media (max-width: 500px){
        flex-direction: column;
        height: 170vh;
        border: solid blue 2px;
    }

    #topContentHeading {
        position: absolute;
        top: 25;
        left: 20;

        @media (max-width: 500px){
            position: absolute;
            left: 15;
        }
    }

    div {
        width: 30%;

        @media (max-width: 500px){
            width: 100%;
        }
    }

    .sbCard {
        .sbCardStyle();
    }
    
    .sbCard {
        .sbCardStyle();
    }
    
    .sbCard {
        .sbCardStyle();
    }

    .sbCard:hover{
        color: white;
        background-color: #7D70FE;
        opacity: 0.7;
    }
}

.btmContent {
    .sharedContentStyle();
    height: 80%;

    @media (max-width: 500px){
        flex-direction: column;
        height: 235vh;
        border: solid lightgreen 2px;
    }

    #sharedContentHeading {
        position: absolute;
        top: 25;
        left: 20;

        @media (max-width: 500px){
            position: absolute;
            left: 80;
        }
    }

    .testCard{
        .sharedCardStyle();
    }

    .testCard:hover{
        color: white;
        background-color: #7D70FE;
        opacity: 0.7;
    }

    .testImg {
        .sharedImgStyle()
    }

    .button {
        position: absolute;
        bottom: 30;
        width: 10%;
        height: 7%;
        border-radius: 10px;
        color: white;
        background-color: #7D70FE;

        @media (max-width: 500px){
            position: absolute;
            bottom: 5;
            width: 30%;
            height: 2%;
            border-radius: 5px;
        }
    }

    .button:hover{
        background-color: #C4C4C4;
    }

    .button a:hover{
        color: black;
    }
}


